.card {
  border-radius: 15px;
  background-color: #777777aa;
  padding: 1em;
  margin: 0.5em;
  width: 14em;
  min-height: 5em;
  max-height: 5em;
  display: grid;
  grid-template-columns: 4em auto;
  grid-template-rows: auto;
  grid-template-areas: "cardImage cardText";
  transition: all 0.3s;

  &:hover {
    transform: scale(1.05, 1.05);
  }

  .card-image {
    display: flex;
    align-self: center;
    justify-self: center;
    width: 4em;
    height: 4em;
    background-size: 100%;
    grid-area: cardImage;
    background-repeat: no-repeat;
  }

  .circular-image {
    -webkit-border-radius: 100px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 100px;
    -moz-background-clip: padding;
    border-radius: 100px;
    background-size: 150%;
    background-clip: padding-box;
    background-position: center center;
  }

  .card-content {
    padding-left: 1em;
    grid-area: cardText;
    display: flex;
    flex-direction: column;

    .card-title {
      font-size: 1.2em;
      flex-grow: 1;
    }

    .card-text {
      flex-grow: 2;
      font-size: 0.7em;
      overflow-wrap: normal;
    }
  }
}
