.app {
  text-align: center;
  font-size: calc(12px + 2vmin);
  color: white;
  min-height: 100vh;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 10vh auto 10vh;
  grid-template-areas:
    "header"
    "main"
    "footer";

  .content {
    grid-area: main;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-self: center;
    justify-content: center;
    align-self: center;
  }
}

@media (min-width: 900px) {
  .app {
    font-size: calc(6px + 2vmin);
  }
}
