.card {
  border-radius: 15px;
  background-color: #777777aa;
  padding: 1em;
  width: 14em;
  display: grid;
  grid-template-columns: 4em auto;
  grid-template-rows: auto;
  grid-template-areas: "cardImage cardText";
}

.card-image {
  display: flex;
  align-self: center;
  justify-self: center;
  width: 4em;
  height: 4em;
  background-size: 100%;
  grid-area: cardImage;
}

.circular-image {
  -webkit-border-radius: 100px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 100px;
  -moz-background-clip: padding;
  border-radius: 100px;
  background-size: 150%;
  background-clip: padding-box;
  background-position: center center;
}

.card-container {
  padding-left: 1em;
  grid-area: cardText;
}

.card-title {
  font-size: 1.2em;
}

.card-text {
  font-size: 0.7em;
  overflow-wrap: normal;
}

a:hover,
a:visited,
a:link,
a:active {
  color: white;
  text-decoration: none;
}
