.terminal-arrow {
  display: flex;
}

.terminal-arrow-char {
  padding-right: 0.25em;
}

.terminal-input-text {
  white-space: pre-wrap;
}

.padding-bottom-1-2 {
  padding-bottom: 0.5em;
}

.terminal-input-text {
  display: flex;
  flex-wrap: wrap;
}

/* .terminal-char {
  width: 0.7em;
  height: 1em;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.show-caret-on-char {
  background-color: #5bf870;
  color: #a4078f;
} */
