.terminal-input {
  display: flex;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.terminal-input-arrow {
  padding-right: 0.25em;
  margin-top: 2px;
}

.terminal-input-text {
  white-space: pre-wrap;
}

.padding-bottom-1-2 {
  padding-bottom: 0.5em;
}

.terminal-input-text {
  display: flex;
  flex-wrap: wrap;
}

.terminal-char {
  width: 0.7em;
  height: 1em;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.show-caret-on-char {
  background-color: #5bf870;
  /* color: #a4078f; */
  color: #000000cc;
  animation: smallTextShadow 1.6s infinite;
}

/* Less shadow flickering */
@keyframes smallTextShadow {
  0% {
    text-shadow: 0.1470624604722px 0 1px rgba(0, 30, 255, 0.5),
      -0.1470624604722px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  5% {
    text-shadow: 0.9356206293618px 0 1px rgba(0, 30, 255, 0.5),
      -0.9356206293618px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  10% {
    text-shadow: 0.009903524070700002px 0 1px rgba(0, 30, 255, 0.5),
      -0.009903524070700002px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  15% {
    text-shadow: 0.1347321041492px 0 1px rgba(0, 30, 255, 0.5),
      -0.1347321041492px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  20% {
    text-shadow: 1.1656002696433px 0 1px rgba(0, 30, 255, 0.5),
      -1.1656002696433px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  25% {
    text-shadow: 0.5402086184335px 0 1px rgba(0, 30, 255, 0.5),
      -0.5402086184335px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  30% {
    text-shadow: 0.2350222678475px 0 1px rgba(0, 30, 255, 0.5),
      -0.2350222678475px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  35% {
    text-shadow: 1.3054662059661002px 0 1px rgba(0, 30, 255, 0.5),
      -1.3054662059661002px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  40% {
    text-shadow: 1.2967533809714px 0 1px rgba(0, 30, 255, 0.5),
      -1.2967533809714px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  45% {
    text-shadow: 0.7474040827256px 0 1px rgba(0, 30, 255, 0.5),
      -0.7474040827256px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  50% {
    text-shadow: 0.027082372893600003px 0 1px rgba(0, 30, 255, 0.5),
      -0.027082372893600003px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  55% {
    text-shadow: 0.7959084457579001px 0 1px rgba(0, 30, 255, 0.5),
      -0.7959084457579001px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  60% {
    text-shadow: 0.7377346721051px 0 1px rgba(0, 30, 255, 0.5),
      -0.7377346721051px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  65% {
    text-shadow: 0.9593991505958px 0 1px rgba(0, 30, 255, 0.5),
      -0.9593991505958px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  70% {
    text-shadow: 0.16372798426590002px 0 1px rgba(0, 30, 255, 0.5),
      -0.16372798426590002px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  75% {
    text-shadow: 0.6347744587376px 0 1px rgba(0, 30, 255, 0.5),
      -0.6347744587376px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  80% {
    text-shadow: 0.027906749818000003px 0 1px rgba(0, 30, 255, 0.5),
      -0.027906749818000003px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  85% {
    text-shadow: 0.0327289213009px 0 1px rgba(0, 30, 255, 0.5),
      -0.0327289213009px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  90% {
    text-shadow: 1.1535188200958px 0 1px rgba(0, 30, 255, 0.5),
      -1.1535188200958px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  95% {
    text-shadow: 0.7317016015688px 0 1px rgba(0, 30, 255, 0.5),
      -0.7317016015688px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  100% {
    text-shadow: 0.8779936098723001px 0 1px rgba(0, 30, 255, 0.5),
      -0.8779936098723001px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
}
