.terminal-input {
  display: flex;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.terminal-input-arrow {
  padding-right: 0.25em;
  margin-top: 2px;
}

.terminal-input-text {
  white-space: pre-wrap;
}

.padding-bottom-1-2 {
  padding-bottom: 0.5em;
}

.terminal-input-text {
  display: flex;
  flex-wrap: wrap;
}

.terminal-char {
  width: 0.7em;
  height: 1em;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.show-caret-on-char {
  background-color: #5bf870;
  /* color: #a4078f; */
  color: #000000aa;
  animation: textShadow 1.6s infinite;
}

/* Less shadow flickering */
@keyframes textShadow {
  0% {
    text-shadow: 0.21949620966px 0 1px rgba(0, 30, 255, 0.5),
      -0.21949620966px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  5% {
    text-shadow: 1.39644870054px 0 1px rgba(0, 30, 255, 0.5),
      -1.39644870054px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  10% {
    text-shadow: 0.01478137921px 0 1px rgba(0, 30, 255, 0.5),
      -0.01478137921px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  15% {
    text-shadow: 0.20109269276px 0 1px rgba(0, 30, 255, 0.5),
      -0.20109269276px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  20% {
    text-shadow: 1.73970189499px 0 1px rgba(0, 30, 255, 0.5),
      -1.73970189499px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  25% {
    text-shadow: 0.80628152005px 0 1px rgba(0, 30, 255, 0.5),
      -0.80628152005px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  30% {
    text-shadow: 0.35077950425px 0 1px rgba(0, 30, 255, 0.5),
      -0.35077950425px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  35% {
    text-shadow: 1.94845702383px 0 1px rgba(0, 30, 255, 0.5),
      -1.94845702383px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  40% {
    text-shadow: 1.93545280742px 0 1px rgba(0, 30, 255, 0.5),
      -1.93545280742px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  45% {
    text-shadow: 1.11552848168px 0 1px rgba(0, 30, 255, 0.5),
      -1.11552848168px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  50% {
    text-shadow: 0.04042145208px 0 1px rgba(0, 30, 255, 0.5),
      -0.04042145208px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  55% {
    text-shadow: 1.18792305337px 0 1px rgba(0, 30, 255, 0.5),
      -1.18792305337px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  60% {
    text-shadow: 1.10109652553px 0 1px rgba(0, 30, 255, 0.5),
      -1.10109652553px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  65% {
    text-shadow: 1.43193903074px 0 1px rgba(0, 30, 255, 0.5),
      -1.43193903074px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  70% {
    text-shadow: 0.24437012577px 0 1px rgba(0, 30, 255, 0.5),
      -0.24437012577px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  75% {
    text-shadow: 0.94742456528px 0 1px rgba(0, 30, 255, 0.5),
      -0.94742456528px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  80% {
    text-shadow: 0.0416518654px 0 1px rgba(0, 30, 255, 0.5),
      -0.0416518654px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  85% {
    text-shadow: 0.04884913627px 0 1px rgba(0, 30, 255, 0.5),
      -0.04884913627px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  90% {
    text-shadow: 1.72166988074px 0 1px rgba(0, 30, 255, 0.5),
      -1.72166988074px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  95% {
    text-shadow: 1.09209194264px 0 1px rgba(0, 30, 255, 0.5),
      -1.09209194264px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  100% {
    text-shadow: 1.31043822369px 0 1px rgba(0, 30, 255, 0.5),
      -1.31043822369px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
}
